@font-face {
  font-family: 'MonoLisa';
  font-weight: normal;
  src: url('./fonts/monolisa/MonoLisa-Regular.otf');
}

@font-face {
  font-family: 'MonoLisa';
  font-weight: bold;
  src: url('./fonts/monolisa/MonoLisa-Bold.otf');
}
